* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Nunito", sans-serif; /* Font default */
  text-align: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
}

.description {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #555;
}

.button {
  display: block;
  font-family: "Fredoka One", cursive;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  width: 200px;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}
